name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSVC environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build srms.exe
        run: cl /Fe:srms.exe srms.c

      - name: Upload EXE artifact
        uses: actions/upload-artifact@v4
        with:
          name: srms
          path: srms.exe
